SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
# make sure you add this exact redirect to your spotify app on dashboard
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8080/
SPOTIFY_MATCH_SCORE_THRESHOLD=0.55
SPOTIFY_ADD_BATCH_SIZE=20
SPOTIFY_SEARCH_WORKERS=2
